{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="text-danger"><h1>This is My Sample Web</h1> </div>
    <h2>Welcome to Digital Business Program</h2>

    <img src="{% static 'images/an1.png'%}" width="500" height="200"
         class='rounded'><br>
    <img src="{% static 'images/an2.jpg'%}" width="500" height="200"
         class='rounded-circle'>
    <br><br>
    <a href="/home" class="btn btn-warning">Go to home</a>
    <a href="/FirstWeb" class="btn btn-warning">Go to FirstWeb</a>
    <a href="/secondpage" class="btn btn-warning">Go to Second Page</a>
    <a href="/thridpage" class="btn btn-success">Go to Thrid Page</a>
    <br>
    <br><br><br><br>

{% endblock %}
