{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-4 p-5 bg-info text-light rounded">
  <h1>Welcom to O Shopping</h1>
  <p>ยินดีต้อนรับสู่เว็บไซต์ O Shopping
      เราคือร้านค้าออนไลน์ทั่ขายสินค้าราคาถูก คุณภาพดีที่สุด <br>
      เราพร้อมให้บริการคุณ ได้ Shopping Online ได้ตลอด 24 ชั่วโมง
  </p>
        <div class="row">
            <div class="col-lg-4">
            <img src="{% static 'images/an1.png' %}"width="200px" height="200pz" class="rounded-circle">

            </div>
            <div class="col-lg-8">
                review จากลูกค้าที่ได้ซื้อสินค้า
            </div>

        </div>
    <div class="text-center">
        <div class="spinner-border text-muted"></div>
        <div class="spinner-border text-primary"></div>
        <div class="spinner-border text-success"></div>
        <div class="spinner-border text-info"></div>
        <div class="spinner-border text-warning"></div>
        <div class="spinner-border text-danger"></div>
        <div class="spinner-border text-secondary"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>

    </div>
</div>

{% endblock %}