{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-white table-striped">
    <h1> Welcome to Second Page </h1>
    <h2> Today is Monday</h2>
    <p class="bg-light text-danger" >
        Pichitchai
    </p><br><br> <br>
    <table class="table table-danger table-striped table-hover table-bordered"  >
 <tr bgcolor="#7fffd4"td align="center">
        <th width="20%">รหัสวิชา</th>
        <th width="40%" >ชื่อวิชา</th>
        <th width="20%">หน่วยกิจ</th>
        <th width="20%">เกรด</th>
    </tr>
    <tr>
        <td align="center">32-1025-52</td>
        <td align="center">ระบบจัดการฐานข้อมูล</td>
        <td>3</td>
        <td>A</td>
    </tr>

    <tr>
        <td align="center">32-1026-53</td>
        <td align="center">การเขียนโปรแกรมประยุกต์</td>
        <td>3</td>
        <td>A</td>
    </tr>


      <tr>
        <td align="center">32-1026-54</td>
        <td align="center">ภาษาไทยเพื่ออาชีพ</td>
        <td>3</td>
        <td>A</td>
    </tr>


    <table border="=1"width="80%"align="center" bgcolor="#ffffff">

 </table>
</table>
    <br><br>
     <a href="/fristweb">Go to Frist Web</a> <br>

    <br><br>
     <a href="/thridpage">Go to Thrid Page</a>


    <br><br><br><br>
  </div>
{% endblock %}
